<div class="row" id="home-about">
    <div class="col-xs-12 col-sm-9">
        {{ content.left_column }}
    </div>

    <div class="col-xs-12 col-sm-3 numbers">
        {{ content.right_column }}
    </div>
</div>