<div class="row" id="home-updates">
    <div class="col-sm-6 last-updates">
        {{ content.left_column }}
    </div>
    <div class="col-sm-offset-2 col-sm-4">
        {{ content.right_column }}
    </div>
</div>